.chessBoard{
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    margin-top: 50px;
    margin-left: 150px;
    height: 600px;
    width: 600px;
}

.whiteTiles{
    background-color:#ebecd0 ;
}

@media screen and (min-width: 410px) {
    .chessBoard {
      margin-left: 110px;
    }
  }

@media screen and (max-width: 400px) {
    .chessBoard {
      margin-left: 15px;
    }
  }
